{extend name="common@bs4_template" /}

{block name="css_style"}
<style>
    .SamplePath {
        fill: none;
        stroke: red;
        stroke-width: 5;
    }
</style>
{/block}

{block name="content"}

<div class="container">

    <h6>svg width 450 * 150, put rect(0 0 1200 400) to svg(viewBox里的4个数字的意思是：把svg的左上角10,10 到 右下角1200 400 区域内的图像放入扩大或者缩放到
        svg中)(svg 就好象一个显示器， viewBox 就是 内容)</h6>

    <svg width="450px" height="150px" viewBox="10 10 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">
        <desc>Example rect01 - rectangle with sharp corners</desc>

        <rect x="10" y="10" width="100" height="50"
              fill="red" stroke="blue" stroke-width="2"/>

        <rect x="400" y="100" width="400" height="200"
              fill="yellow" stroke="navy" stroke-width="10"/>
    </svg>

    <h6>g tag means global.</h6>
    <h6>translate: move in horizontal or vertical</h6>
    <h6>rotate: rotate in clockwise</h6>
    <svg width="450px" height="150px" viewBox="10 10 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">
        <rect x="1" y="1" width="1198" height="398" fill="none" stroke="blue" stroke-width="2"/>

        <rect x="100" y="100" width="400" height="200" rx="50" fill="green"/>

        <g transform="translate(700 210) rotate(-30)">
            <rect x="0" y="0" width="400" height="200" rx="50" fill="none" stroke="purple" stroke-width="30"/>
        </g>
    </svg>

    <h6>svg circle: cx -> coordinate-x, r -> radius</h6>
    <svg width="450px" height="150px" viewBox="0 0 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">

        <rect x="1" y="1" width="1198" height="398" fill="none" stroke="blue" stroke-width="2"/>

        <circle cx="600" cy="200" r="100" fill="red" stroke="blue" stroke-width="10"/>

    </svg>

    <h6>svg eclipse: </h6>
    <svg width="450px" height="150px" viewBox="0 0 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">

        <rect x="1" y="1" width="1198" height="398" fill="none" stroke="blue" stroke-width="2"/>

        <g transform="translate(300 200)">
            <ellipse rx="250" ry="100"
                     fill="red"/>
        </g>
        <ellipse transform="translate(900 200) rotate(-30)"
                 rx="250" ry="100"
                 fill="none" stroke="blue" stroke-width="20"/>

    </svg>

    <h6>svg line:</h6>
    <svg width="450px" height="150px" viewBox="0 0 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">

        <rect x="1" y="1" width="1198" height="398" fill="none" stroke="blue" stroke-width="2"/>

        <g stroke="green">
            <line x1="100" y1="300" x2="300" y2="100" stroke-width="5"/>
            <line x1="300" y1="300" x2="500" y2="100" stroke-width="10"/>
            <line x1="500" y1="300" x2="700" y2="100" stroke-width="15"/>
            <line x1="700" y1="300" x2="900" y2="100" stroke-width="20"/>
            <line x1="900" y1="300" x2="1100" y2="100" stroke-width="25"/>
        </g>

    </svg>

    <h6>svg poly line:</h6>
    <svg width="450px" height="150px" viewBox="0 0 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">

        <rect x="1" y="1" width="1198" height="398" fill="none" stroke="blue" stroke-width="2"/>

        <polyline fill="none" stroke="blue" stroke-width="10"
                  points="50,375
                    150,375 150,325 250,325 250,375
                    350,375 350,250 450,250 450,375
                    550,375 550,175 650,175 650,375
                    750,375 750,100 850,100 850,375
                    950,375 950,25 1050,25 1050,375
                    1150,375"/>

    </svg>

    <h6>svg polygon:</h6>
    <svg width="450px" height="150px" viewBox="0 0 1200 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">

        <rect x="1" y="1" width="1198" height="398" fill="none" stroke="blue" stroke-width="2"/>

        <polygon fill="red" stroke="blue" stroke-width="10"
                 points="350,75  379,161 469,161 397,215
                    423,301 350,250 277,301 303,215
                    231,161 321,161"/>
        <polygon fill="lime" stroke="blue" stroke-width="10"
                 points="850,75  958,137.5 958,262.5
                    850,325 742,262.6 742,137.5"/>

    </svg>

    <h6>svg path, M:move to(Start a new sub-path), z:close path, L or l: lineto(supper case is absolute, lower case is relative), c: curve to, h: horizontal lineto, v: vertical lineto</h6>
    <svg width="450px" height="150px" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">

        <rect x="1" y="1" width="398" height="398"
              fill="none" stroke="blue"/>
        <path d="M 100 100 L 300 100 L 200 300 z"
              fill="red" stroke="blue" stroke-width="3"/>
    </svg>

    <h6>svg cubic(3阶) bezier curve, C command usage: C control_point1 control_point2 end_point, S:shorthand/smooth curveto(S和C是一对组合，职责是给C大仙补刀用的。)</h6>
    <svg width="450px" height="450px" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg" version="1.1"
         style="background-color: GrayText">
        <text x="50" y="50" fill="yellow">start point is (100, 200), end point is (400, 200), control points are (100, 100) (400, 100)</text>
        <path class="SamplePath" d="M100,200 C100,100 400,100 400,200"/>
        <path class="SamplePath" d="M100,500 C25,400 475,400 400,500"/>
        <path class="SamplePath" d="M100,800 C175,700 325,700 400,800"/>
        <path class="SamplePath" d="M600,200 C675,100 975,100 900,200"/>
        <path class="SamplePath" d="M600,500 C600,350 900,650 900,500"/>
        <path class="SamplePath" d="M600,800 C625,700 725,700 750,800 S875,900 900,800"/>
    </svg>

    <h6>svg quadratic(2阶) Bézier curve, Q:quadratic Bézier curveto, T: like S, Shorthand/smooth quadratic Bézier curveto</h6>
    <h6>Q command usage: Q control_point end_point</h6>
    <svg width="450px" height="150px" viewBox="200 0 600 600" xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: GrayText">
        <path d="M0,300 Q200,50 400,300 T800,300" fill="none" stroke="red" stroke-width="5"/>
    </svg>


    <svg width="12cm" height="5.25cm" viewBox="0 0 1200 400"
         xmlns="http://www.w3.org/2000/svg" version="1.1">
        <title>Example arcs01 - arc commands in path data</title>
        <desc>Picture of a pie chart with two pie wedges and
            a picture of a line with arc blips</desc>
        <rect x="1" y="1" width="1198" height="398"
              fill="none" stroke="blue" stroke-width="1" />

        <path d="M300,200 h-150 a150,150 0 1,0 150,-150 z"
              fill="red" stroke="blue" stroke-width="5" />
        <path d="M275,175 v-150 a150,150 0 0,0 -150,150 z"
              fill="yellow" stroke="blue" stroke-width="5" />

        <path d="M600,350 l 50,-25
           a25,25 -30 0,1 50,-25 l 50,-25
           a25,50 -30 0,1 50,-25 l 50,-25
           a25,75 -30 0,1 50,-25 l 50,-25
           a25,100 -30 0,1 50,-25 l 50,-25"fill="none" stroke="red" stroke-width="5"  />

</div>

{/block}