{extend name="common@bs4_template" /}
{block name="css_style"}

{/block}

{block name="content"}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a class="text-muted" href="#">Subscribe</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <h1 class="mr-auto mx-auto">Large</h1>
            <form class="form-inline my-2 my-lg-0">

                <div class="input-group input-group-sm mr-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-0" id="basic-addon1">
                            <a href="" class="text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                </a>
                        </span>
                    </div>
                    <input type="text" class="form-control form-control-sm" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <button class="btn btn-outline-secondary btn-sm" type="submit">Sign up</button>
            </form>
        </div>
    </nav>
    <hr class="my-2">
</div>

{/block}
