{extend name="common@bs4_template" /}

{block name="page_title"}
<title>ADD A EVENT</title>
{/block}

{block name="css_style"}
<style>
    .add_time_form {
        width: 100%;
        max-width: 330px;
        padding-top: 50px;
        margin: 0 auto;
    }
    .white-font {color: white;}
</style>
{/block}

{block name="content"}
<div class="container-fluid white_font">
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand white-font" href="{:url('addEvent', '', '')}">ADD EVENT</a>
        <a class="navbar-brand white-font" href="{:url('eventLogList', '', '');}">EVENT LOG</a>
    </nav>
</div>
<div class="container">


    <form class="add_time_form" method="post">

        <select class="custom-select custom-select-lg" name="event_id">
            <option value="">PLEASE SELECT A EVENT</option>
            {volist name="time_item_list" id="item"}
            <option value="{$item['id']}">{$item['event']}</option>
            {/volist}
        </select>

        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addEventLog($(this))">LOG TIME</button>
    </form>
</div>


{/block}

{block name="footer"}
{js href="/static/js/myevent.js" /}
{/block}