{extend name="common@bs4_template" /}
{block name="css_style"}

{/block}

{block name="content"}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MONEY TRACK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">LOG</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container py-3">

    <ul class="list-group">
        {volist name="log_list" id="item"}
        <li class="list-group-item">
            {:date('Y-m-d H:i:s', $item['create_time'])}
            {$item['money_item']}
            【{$item['money_amount']}】
            <p class="text-info">comment: {$item['money_comment']}</p>
        </li>
        {/volist}
    </ul>

</div>

{/block}


{block name="footer"}
{js href="/static/js/myevent.js" /}
<script>
    $('#money_comment').focus();
</script>
{/block}