{extend name="common@bs4_template" /}
{block name="css_style"}

{/block}

{block name="content"}

{include file='task/_nav' /}

<div class="container-fluid">


    <div class="row">

        <div class="col-md-3 d-none d-md-block">
            <h6 class="pt-4">RULE</h6>
            <ul class="list-group">
                {volist name="rule_list" id="item"}
                <li class="list-group-item list-group-item-success position-relative">
                    {$item['rule']}
                    <a href="javascript:void(0)" class="position-absolute" style="top: 0;right: 0;" data-url="{:url('delRule', '', '')}?id={$item['id']}" onclick="common_module.submit_link($(this))"><svg class="feather feather-delete sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="446"><path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg></a>
                </li>
                {/volist}
            </ul>

            <form class="py-3" method="post" action="{:url('addRule', '', '')}">
                <h6>ADD RULE</h6>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="rule" id="rule" placeholder="rule">
                </div>

                <button type="button" class="btn btn-outline-secondary form-control form-control-sm btn-sm"
                        onclick="submit_form($(this))">ADD RULE
                </button>
            </form>
        </div>

        <div class="col-md-9">
            <h1 class="display-4">{$params['type'] ? $params['type'] : 'MISSION'}</h1>

            <ul class="list-group">

                {volist name="task_list" id="item"}
                <li class="list-group-item">
                    <p class="p-0 m-0">
                        <span class="">{$item['task']}</span>
                        <span class="text-info">comment: {$item['comment']}</span>
                        <span class="d-block text-warning">current status: {$task_status[$item['status']]}</span>
                    </p>
                    <p class="p-0 m-0 d-flex">
                        <a href="javascript:void(0)" data-url="{:url('updateTask', '', '')}?status=3&id={$item['id']}"
                           class="btn btn-sm btn-outline-success mr-2" onclick="submit_link($(this))">task bingo</a>
                        <a href="javascript:void(0)" data-url="{:url('updateTask', '', '')}?status=4&id={$item['id']}"
                           class="btn btn-sm btn-outline-danger mr-2" onclick="submit_link($(this))">delete task</a>
                        <a href="javascript:void(0)" data-url="{:url('edit', '', '')}?id={$item['id']}"
                           class="btn btn-sm btn-outline-secondary mr-auto" onclick="other_module.edit_mission($(this))">edit</a>

                        <span class="text-muted mx-2 task-priority d-none d-md-block" data-priority="{$item['priority']}">priority: {$item['priority']}</span>
                        <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary mr-2" data-url="{:url('modifyPriority','','')}?id={$item['id']}" data-action="plus" onclick="other_module.modify_priority($(this))">+</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary mr-2" data-url="{:url('modifyPriority','','')}?id={$item['id']}" data-action="mins" onclick="other_module.modify_priority($(this))">-</a>
                    </p>
                </li>
                {/volist}
            </ul>


            <form class="py-3">
                <input type="hidden" name="type" value="{$params['type'] ? $params['type'] : 'MISSION'}">
                
                <h4>ADD NEW {$params['type'] ? $params['type'] : 'MISSION'}</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name="task" id="task" placeholder="name">
                </div>

                <div class="form-group">
                    <textarea name="comment" id="comment" cols="30" rows="3" class="form-control"
                              placeholder="detail"></textarea>
                </div>

                <button type="button" class="btn btn-outline-secondary form-control" onclick="submit_form($(this))">ADD
                    {$params['type'] ? $params['type'] : 'MISSION'}
                </button>
            </form>
        </div>

    </div>


</div>

{/block}

{block name="footer"}
{js href="/static/js/myevent.js" /}
{js href="/static/js/common.js" /}
<script>
    $('#task').focus();
</script>
{/block}