{extend name="common@bs4_template" /}
{block name="css_style"}

{/block}

{block name="content"}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript:void(0)">Misssion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{:url('index')}">current task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('bingoTask')}">finished</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('deletedTask')}">deleted</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

<div class="container">
    <h1 class="display-4">{$title}</h1>

    <ul class="list-group">

        {volist name="task_list" id="item"}
        <li class="list-group-item">
            <p class="p-0 m-0">
                <span class="">{$item['task']}</span>
                <span class="text-info">comment: {$item['comment']}</span>
                <span class="d-block text-warning">current status: {$task_status[$item['status']]}</span>
            </p>
        </li>
        {/volist}
    </ul>
</div>

{/block}